@import "config";

.project {
  padding-top: $padding-md;
  padding-bottom: $padding-md;
  width: 100%;
  overflow: hidden;
}

hr {
  // margin-left: -$padding-sm;
  // margin-right: -$padding-sm;
  border: 0.5px solid $LIGHT_BLUE_75P;
  opacity: .75;
}

.misc {
  margin-bottom: "36px"
}
