@import "config";

.app {
  //-- Container
  // overflow: hidden;  //-- this prevents the sticky toolbar stickiness

  .page {
    // margin: $padding-md $padding-sm;
    padding: $padding-md $padding-sm;
    
    .headlineHolder {
      //-- for Works headline with an icon
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }
  }
}

.home {
  .footer {
    font-size: .65rem;
    color: rgba(0, 0, 0, .85);
  }
}

.about {
  //-- switch bg and text colors
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  // min-height: 100px;
  background-color: $text-color;
  color: $bg-color;
  height: calc(100vh - ($top-bar-height + $padding-sm*2 + 2px));

  .Typewriter__cursor {
    opacity: 1;
    transition: all .5s ease-out;
  }

  .statement {
    animation: fadeIn 2.5s;
  }

  .footer {
    font-size: .65rem;
    margin-top: 75px;
    // position: absolute;
    // bottom: 8px;
    color: #fff;
    animation: fadeIn 1.75s;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
