@import "config";

.app {
  //-- Container
  // overflow: hidden;  //-- this prevents the sticky toolbar stickiness

  .page {
    // margin: $padding-md $padding-sm;
    padding: $padding-md $padding-sm;
    
    .headlineHolder {
      //-- for Works headline with an icon
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }
  }
}

.home {
  .footer {
    font-size: .65rem;
    color: rgba(0, 0, 0, .85);
  }
}

.about {
  //-- switch bg and text colors
  background-color: $text-color;
  color: $bg-color;
  height: calc(100vh - ($top-bar-height + $padding-sm*2 + 2px));

  .statement {
    animation: fadeIn 1.5s;
  }

  .footer {
    font-size: .65rem;
    position: absolute;
    bottom: 8px;
    color: #fff;
    animation: fadeIn .75s;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
