@import "config";

.app {
  //-- Container
  // overflow: hidden;  //-- this prevents the sticky toolbar stickiness

  .page {
    margin: $padding-md $padding-sm;
    // border: 1px solid red;
    
    .headlineHolder {
      //-- for Works headline with an icon
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }
  }
}

// @keyframes fadeIn {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }
