@import "config";

.project {
  padding-top: $padding-md;
  padding-bottom: $padding-md;
  height: 100vh;
  
  // height: "800px";
  // background-image: linear-gradient($bg-color, rgba(blue, .15));
  // border: 0.5px solid rgba(grey, 0.25);
  // border-bottom: 0.5px solid rgba(blue, 0.25);
}
