@import "config";

$top-bar-height: 60px;

.topbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $padding-sm;
  padding-bottom: $padding-sm;
  background-color: rgba($bg-color, .75);
  border-bottom: $hr-border-bottom;

  backdrop-filter: blur(10px);
  
  // background-color: yellow;
  // border: 1px solid blue;

  // z-index: 100; //-- to the top
  // border: 1px solid red;
}

//-- Works subMenu dropdown
.MuiMenuItem-root {
  &.Mui-selected {
    background-color: rgba(grey, 0.25);
  }

  &.Mui-disabled {
    opacity: 100%;
  }
}
