@import "config";

$top-bar-height: 60px;
// $hr-border-bottom: 0.5px solid rgba(black, 0.15);
$hr-border-bottom: 0.5px solid rgba(black, 0.25);

.topbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-sm;
  background-color: rgba($bg-color, 0.75);
  border-bottom: $hr-border-bottom;
  // border-bottom: .5px solid rgba(0, 0, 0, .85);
  backdrop-filter: blur(10px);
  z-index: 100;             //-- to the top
  // border: 1px solid red; //-- testing

  //-- Works subMenu dropdown
  .MuiMenuItem-root {
    &.Mui-selected {
      background-color: rgba(grey, 0.25);
    }

    &.Mui-disabled {
      opacity: 100%;
    }
  }
}