@import "config";

/*
$padding-xs: 6px;
$padding-sm: 12px;
$padding-md: 24px;
$padding-lg: 36px;
*/
$top-bar-height: 58px;

$BLACK_85P: "rgba(0,0,0,.85)";
$BLUE_75P: "rgba(15,10,222,.75)";
$YELLOW_75P: "rgba(255,255,0,.75)";

.topbar {
  width: 100%;
  height: $top-bar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $padding-md;
  padding-bottom: $padding-md;
  padding-left: $padding-sm;
  padding-right: $padding-sm;
  border-bottom: 0.5px solid rgba(black, 0.15);
}

  //-- Works subMenu dropdown
  .MuiMenuItem-root {
    &.Mui-selected {
      background-color: rgba(grey, 0.25);
    }

    &.Mui-disabled {
      opacity: 100%;
    }
  }
